<%= form_with(model: ripple) do |form| %>
  <% if ripple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ripple.errors.count, "error") %> prohibited this ripple from being saved:</h2>

      <ul>
        <% ripple.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Your name or alias (required)</p>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p>A website, yours or otherwise (optional)</p>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <p>Your message/note/quote/rant (required)</p>
    <%= form.text_area :message, rows: 20, cols: 60 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
