<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<table>
  <tfoot>
    <tr>
      <td colspan="5">
        <%= link_to 'Newest', newest %> |
        Previous 10 Ripples |
        Next 10 Ripples |
        Oldest |
        <%= link_to 'New Ripple', new_ripple_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th></th>
    </tr>
    <% @ripples.each_with_index do |ripple, index| %>

      <% if index == 0 %>
        <% add_session(@page) %>
      <% end %>

      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td>
          <p>
            <% if ripple.url == '' %>
            <%= ripple.name %>
            <% else %>
            <%= link_to ripple.name, ripple.url %>
            <% end %>
          </p>
        </td>

        <td>
          <p>
            <%= truncate(strip_tags(ripple.message),
                         length: 80) %>
          </p>
        </td>

        <td>
          <p>
            <%= ripple.updated_at %>
          </p>
        </td>

        <td class="actions">
          <%= link_to 'Show', ripple %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
